@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap');

:root {
  --color-bg-primary: #FFF;
  --color-bg-secondary: #1890FF;
  --color-card-bg-primary: #E6F7FF;
  --color-card-bg-secondary: #F5F5F5;

  --color-font-primary: #000;
  --color-font-secondary: #FFF;
  --color-font-tertiary: #7E7E7E;

  --color-font-card-title-primary: #262626;
  --color-font-card-title-secondary: #1890FF;
  --color-font-placeholder: #BFBFBF;
  --color-font-link: #0029FF;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

html,
body {
  background-color: var(--color-bg-primary);
}

a,
a:hover {
  text-decoration: none;
  color: unset;
}

.container {
  width: 100%;
  max-width: 1251px;
  margin: 0 auto;
}